<!-- <div style="margin-left:20px; margin-right:20px; margin-top:20px; margin-bottom:20px;"> -->
<h4><b>Repository Reports:</b></h4>
<div>
  <ng-table ng-mouseover="table-hover" id="reportViewTable_{{serverid}}" [config]="getCurrentInstance(serverid).config"
    (tableChanged)="onChangeTable(getCurrentInstance(serverid).config)"
    (cellClicked)="onCellClick($event)"
    [rows]="getCurrentInstance(serverid).instrows" [columns]="getCurrentInstance(serverid).instcolumns">
  </ng-table>
  <pagination *ngIf="getCurrentInstance(serverid).config.paging" class="pagination-sm"
    [(ngModel)]="getCurrentInstance(serverid).page"
    [totalItems]="getCurrentInstance(serverid).length"
    [itemsPerPage]="getCurrentInstance(serverid).itemsPerPage"
    [maxSize]="getCurrentInstance(serverid).maxSize"
    [boundaryLinks]="true"
    [rotate]="false"
    (pageChanged)="onChangeTable(getCurrentInstance(serverid).config,$event)"
    (numPages)="getCurrentInstance(serverid).numPages = $event">
  </pagination>
</div>